html, body {
    margin: 0;
    padding: 0;
    background-color: #659EBC;
    color: #444444;
}

.t-and-h-section {
    border-radius: 10px;
    margin: 30px auto 30px auto;
    width: 900px;
    height: 560px;
    background-color: white;
    padding: 20px;
}

.t-and-h-section__label {
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
}

.t-and-h-section__value {
    font-weight: bold;
}

.t-and-h-section__t-canvas {
    margin-top: 25px;
}

.t-and-h-section__h-canvas {
    margin-top: 25px;
}

.power-socket-section {
    border-radius: 10px;
    margin: 30px auto 30px auto;
    width: 900px;
    height: 38px;
    background-color: white;
    padding: 20px;
}

.power-socket-section__label {
    font-size: 25px;
}

.power-socket-section__button {
    border: solid 2px #659EBC;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px 15px;
    background-color: lightgreen;
    outline: none;
}
