<link rel='stylesheet' href='../css/light-section.css'>

<div class='light-section'>
    <label class='light-section__label'>
        Light:
        <label class="light-section__value">#</label>
    </label>
    <div class="light-section__progress-bar">
      <div class="light-section__progress"></div>
    </div>
</div>
