<link rel='stylesheet' href='../css/water-section.css'>

<div class='water-section'>
    <label class='water-section__label'>
        Water level:
        <label class="water-section__value">#</label>
    </label>
    <div class="water-section__progress-bar">
      <div class="water-section__progress"></div>
    </div>
</div>
