<link rel='stylesheet' href='../css/people-section.css'>

<div class='people-section'>
    <label class='people-section__label'>
        Peoples:
        <label for='' class='people-section__value'>#</label>
    </label>
</div>