<link rel='stylesheet' href='../css/power-socket-section.css'>

<div class='power-socket-section'>
    <label class='power-socket-section__label'>
        Power Socket: 
        <input class='power-socket-section__button' type='button' value='On'>
    </label>
</div>