.fire-section {
    border-radius: 10px;
    background-color: lightgreen;
    height: 38px;
    padding: 20px;
    width: 440px;
    text-align: center;
    margin: 10px 10px 10px 5px;
}

.fire-section__label {
    font-size: 25px;
    display: block;
    font-weight: bold;
}
