.fire-section {
    border-radius: 10px;
    background-color: lightgreen;
    text-align: center;
    margin-left: 5px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.fire-section__label {
    font-size: 25px;
    display: block;
    font-weight: bold;
}
