.light-section {
    border-radius: 10px;
    background-color: white;
    margin-left: 5px;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.light-section__label {
    font-size: 25px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.light-section__progress-bar {
  flex: 1 0 auto;
  height: 30px;
  background-color: lightgrey;
  border-radius: 7px;
  overflow: hidden;
}

.light-section__progress {
  width: 1%;
  height: 30px;
  background-color: orange;
}

.light-section__value {
  font-size: 22px;
}
