.power-socket-section {
    border-radius: 10px;
    width: 440px;
    height: 38px;
    background-color: white;
    padding: 20px;
    margin-right: 15px;
}

.power-socket-section__label {
    font-size: 25px;
}

.power-socket-section__button {
    border: solid 2px #659EBC;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px 15px;
    background-color: lightgreen;
    outline: none;
}