.power-socket-section {
    border-radius: 10px;
    background-color: white;
    margin-right: 5px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power-socket-section__label {
    font-size: 25px;
}

.power-socket-section__button {
    border: solid 2px #659EBC;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px 15px;
    background-color: lightgreen;
    outline: none;
}
