.t-and-h-section {
    border-radius: 10px;
    width: 870px;
    height: 560px;
    background-color: white;
    /*padding: 20px;*/
    /*margin: 0 auto;*/
}

.t-and-h-section__label {
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
}

.t-and-h-section__value {
    font-weight: bold;
}

.t-and-h-section__t-canvas {
    margin-top: 25px;
}

.t-and-h-section__h-canvas {
    margin-top: 25px;
}
